<div class="container">
    <div class="navbar-main">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">And-Quiet-Flows-the-Don</a>
            </div>
        </nav>
    </div>
    <div class="body-main">
        <div class="title text-center">
            <h1 class="fw-bolder mb-5">And Quiet Flows the Don</h1>
        </div>
        <div class="content-main">
            <div class="content-spring m-lg-4">
                <h4 class="mb-3 fw-bold">Plot summary</h4>
                <p style="text-align: justify;">The novel has been compared to War and Peace (1869), written by Leo
                    Tolstoy, notably by Maxim Gorky.[2][3] Like the Tolstoy novel, And Quiet Flows the Don is an epic
                    picture of Russian life during a time of crisis and examines it through political, military,
                    romantic, and civilian lenses. Various rumours of plagiarism began circulating from 1930.
                    Solzhenitsyn and others accused Sholokhov of plagiarizing a novel by Fyodor Kryukov, a more obscure
                    author who fought against Bolshevism and died in 1920.[4] An investigation in the late 1920s upheld
                    Sholokhov's authorship of "Silent Don", and the allegations were denounced as malicious slander in
                    Pravda.

                    During the Second World War, Sholokhov's archive was destroyed in a bomb raid, and only the fourth
                    volume survived. Sholokhov had his friend Vassily Kudashov look after it. Following Kudashov's death
                    in the war, his widow took possession of the manuscript, but she never disclosed her ownership. The
                    manuscript was finally found by the Institute of World Literature of Russian Academy of Sciences in
                    1999 with assistance from the Russian Government. The writing paper dates back to the 1920s. 605
                    pages are in Sholokhov's own hand, evidencing considerable re-drafting and re-organising of the
                    material by Sholokhov, and 285 are transcribed by his wife Maria and sisters.[5][6] </p>
            </div>
            <div class="content-summer  m-lg-2 ms-5">
                <h4 class="mb-3 fw-bold">Literary significance, criticism, and accusations of plagiarism</h4>
                <p style="text-align: justify;">
                    The novel deals with the life of the Cossacks living in the Don River
                    valley during the early 20th
                    century, starting around 1912, just prior to World War I. The plot revolves around the Melekhov
                    family of Tatarsk, who are descendants of a Cossack who, to the horror of many, took a Turkish
                    captive as a wife during the Crimean War. She is accused of witchcraft by Melekhov's superstitious
                    neighbors, who attempt to kill her but are fought off by her husband. Their descendants, the son and
                    grandsons, who are the protagonists of the story, are therefore often nicknamed "Turks".
                    Nevertheless, they command a high level of respect among people in Tatarsk.[citation needed]

                    The second eldest son, Grigory Panteleevich Melekhov, is a promising young soldier who falls in love
                    with Aksinia, the wife of Stepan Astakhov, a family friend. Stepan regularly beats her and there is
                    no love between them. Grigory and Aksinia's romance and elopement raise a feud between her husband
                    and his family. The outcome of this romance is the focus of the plot as well as the impending World
                    and Civil Wars which draw the best young Cossack men into what will be two of Russia's bloodiest
                    wars. The action moves to the Austro-Hungarian front, where Grigory ends up saving Stepan's life,
                    but that doesn't end the feud. Grigory, at his father's insistence, takes a wife, Natalya, but still
                    loves Aksinia.

                    Grigory takes part in the Civil War, changing sides four times (Red to White to Red to White to
                    indifferent). Many of his friends and relatives are killed in action or executed by both the Reds
                    and Whites. Natalya dies after a failed amateur abortion, leaving Grigory with two small children
                    who are eventually cared for by Aksinia. This does not prevent Grigory and Aksinia from trying a
                    final escape alone together, but she is killed by a stray bullet during a fight with Red troops.
                    Grief-stricken, Grigory buries her and returns home, with his prospects unclear.

                    The book deals not only with the struggles and suffering of the Cossacks but also the landscape
                    itself, which is vividly brought to life. There are also many folk songs referenced throughout the
                    novel.[citation needed]

                    And Quiet Flows the Don grew out of an earlier, unpublished work, the Donshina:

                    I began the novel by describing the event of the Kornilov putsch in 1917. Then it became clear that
                    this putsch, and more importantly, the role of the Cossacks in these events, would not be understood
                    without a Cossack prehistory, and so I began with the description of the life of the Don Cossacks
                    just before the beginning of World War I. (quote from M.A. Sholokhov: Seminarii, (1962) by F.A.
                    Abramovic and V.V. Gura, quoted in Mikhail Aleksandrovich Sholokhov, by L.L. Litus.)

                    Protagonist Grigory Melekhov is reportedly based on two Cossacks from Veshenskaya, Pavel Nazarovich
                    Kudinov and Kharlampii Vasilyevich Yermakov, who were key figures in the anti-Bolshevist struggle of
                    the upper Don.[1] </p>
            </div>
        </div>
    </div>
    <footer>
        <a target="_blank" href="https://en.wikipedia.org/wiki/And_Quiet_Flows_the_Don">Copy wikepidia</a>
    </footer>
</div>